body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header " "content";
  font-family: "Cormorant Garamond", serif;
}

img {
  width: 100vw;
  height: 60vh;
  object-fit: fill;
  margin: 0;
}
.header {
  grid-area: header;
}

h3 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "results form";
}

.form {
  grid-area: form;
  padding: 20px;
}
form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "city submit" "country submit";
}
div p {
  padding-left: 12px;
}
.city {
  grid-area: city;
  margin: 3px;
  padding-left: 12px;
  height: 25px;
  border: none;
  border-radius: 2px;
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  background-color: whitesmoke;
}
.city:focus {
  outline: none;
}
.country {
  grid-area: country;
  margin: 3px;
  padding-left: 12px;
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  height: 25px;
  border: none;
  border-radius: 2px;
  background-color: whitesmoke;
}
.country:focus {
  outline: none;
}
button {
  grid-area: submit;
  margin: 0px 6px;
  background-color: whitesmoke;
  border: 0.5px rgb(221, 220, 220);
  box-shadow: 0px 0px 12px 5px rgb(224, 224, 224);
  border-radius: 2px;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
}
button:hover {
  box-shadow: 0px 0px 15px 5px rgb(224, 224, 224);
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.results {
  grid-area: results;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info pic";
}
.info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic {
  grid-area: pic;
}
